* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla';
}

.App {
  width: 640px;
  height: 640px;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.App--container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.die {
  width: 72px;
  height: 72px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 40px;
  color: #2B283A;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App--button {
  background-color: #5035FF;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 6px;
  padding: 15px 45px;
  font-family: 'Karla';
  color: white;
  font-size: 22px;
  cursor: pointer;
}